/* .Poll {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    background-color: white;
    padding: 2em;
    width: 80%;
    border-radius: 2em;
} */

.poll { 
    background-color: white;
    width: 70%;
    border-radius: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3em;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

.Poll {
    padding: 1.5em;
    background-color: white;
    margin: 1em;
    border-radius: 1em;
    overflow: hidden;
    align-items: left;
}

.Poll ul {
    list-style: none;
    float: left;
    width: 100%;
}

.Poll ul li {
    width: 100%;
}

.Poll button {
    width: 40%;
    margin: 0.9em;
    padding: 0px;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 1em;
    background-color: #043b5b;
    border-radius: 0.3em;
    bottom: 0;
    padding: 1.3em;
    float: right;
    text-align: center;
    justify-content: center;
}
